.container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}